[submodule "demo-common"]
	path = demo-common
	url = git@github.com:nurhaziq97/demo-common.git
[submodule "user-authentication"]
	path = user-authentication
	url = git@github.com:nurhaziq97/user-authentication.git
